@import url('./css/clear.css');

html {
  scroll-behavior: smooth; 
}

.body {
  position: relative;
  margin: 0 auto;
  background: black;
  color: #fff; 
  overflow-x: hidden;
}

/* header start */

.header {
  background: url('./img/bg_hero.jpg');
  background-repeat: no-repeat;
  background-position: center 0;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.header__container {
  display: flex;
  height: 90px;
  padding: 0 20px;
}

.logo {
  background-image: url('./svg/logo.svg');
  width: 50px;
  height: 50px;
  position: relative;
  transition: 0.3s;
  margin-top: 20px;
}

.logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
  cursor: pointer;
}

.menu {
  margin-left: auto;
  padding-top: 20px;
}

.menu__list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.menu__link {
  padding-right: 30px;
  line-height: 50px;
  text-decoration: none;
  color: #fff;
  font-family: 'Inter';
  font-size: 20px;
  transition: 0.3s;
}

.menu__link:hover {
  color: #BDAE82;
  cursor: pointer;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  margin-top: 20px;
  height: 50px;
}

.lang__item {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  transition: 0.3s;
  text-transform: uppercase;
}

.lang__slash {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 20px;
  padding: 14px;
}

.lang__item:hover {
  color: #BDAE82;
  cursor: pointer;
}

.lang__item.active {
  color: #BDAE82;
  cursor: default;
}

.header__switch {
  background-image: url('./svg/sun.svg');
  width: 45px;
  height: 45px;
  margin: 22px 0 0 35px;
  transition: 0.3s;
}

.header__switch:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
  cursor: pointer;
}

.burger {
  display: none;
}

/* hero start */

.hero {
  background-image: url('./img/bg_hero.jpg');
  background-position: center -90px;
  background-repeat: no-repeat;
  max-width: 1440px;
  height: 820px;
  margin: 0 auto;
}

.hero__content {
  padding-top: 185px;
  padding-left: 80px;
}

.hero__title {
  font-family: 'Merriweather';
  font-size: 60px;
  margin: 0;
  padding-bottom: 38px;
}

.hero__description {
  font-family: 'Inter';
  width: 470px;
  font-weight: 400;
  font-size: 20px;
  line-height: 40px;
  margin-bottom: 24px;
}

.btn {
  font-family: 'Inter';
  width: 220px;
  height: 55px;
  border: 0;
  background-color: #bdae82;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.btn:hover {
  cursor: pointer;
  color:#fff;
  animation: bounce 1s;
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		transform: translateY(-20px);
		transform: translateY(-20px);
	}

	80% {
		transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

/* hero end */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

/* skills start */

.section {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 100px;
  padding-bottom: 57px;
}

.section__title {
  background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);  
  width: 50%;
}

.name {
  background: black;
  color: #BDAE82;
  padding: 18px 20px;
}

.section h2 {
  display: flex;
  justify-content:center;
  font-family: 'Merriweather';
  font-size: 40px;
}

.skills__container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
 
.skills__item {
  width: 320px;
  text-align: center;
}

.skills__caption {
  font-family: 'Inter';
  font-size: 20px;
  padding-top: 56px;
  padding-bottom: 30px;
}

.skills__description {
  font-family: 'Inter';
  line-height: 35px;
  font-size: 18px;
}

/* portfolio start */

:root {
  --gold-color: #bdae82;
  --black-color: #000;
}

.portfolio__btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
  padding-bottom: 62px;
}

.btn__filter {
  width: 220px;
  height: 55px;
  background-color: transparent;
  border: 2px solid #bdae82;
  color: #bdae82;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
  text-align: center;
}

.btn__filter:hover {
  cursor: pointer;
  color: #fff;
}

/* buble button start */

.bubbly-button {
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
}

.bubbly-button:focus {
  outline: 0;
}
  
.bubbly-button:before,
.bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

.bubbly-button:before{
  display: none;
  top: -75%;
  background-image:  
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, var(--gold-color) 20%, transparent 30%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%), 
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, var(--gold-color) 15%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
  background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}

.bubbly-button:after{
  display: none;
  bottom: -75%;
  background-image:  
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%), 
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, var(--gold-color) 15%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%),
    radial-gradient(circle, var(--gold-color) 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
  background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
}
 
 .bubbly-button.active {
  transform: scale(0.9);
  background-color: #bdae82;
  box-shadow: 0 2px 25px #bdae82;
  color: #000;
  cursor: default;
}

.bubbly-button.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}

.bubbly-button.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

/* buble button end*/

.portfolio__album {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.portfolio__image {
  max-width: 450px;
  max-height: 560px;
}

/* video start */

.video__content {
  width: 100%;
}

.video__player {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1400px;
  height: calc(46% + 60px);
  max-height: 705px;
}

.video__poster {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-image: url('./img/video-player.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 1s;
}

.viewer {
  width: calc(100% + 2px);
  height: auto;
  border: 1px solid #bdae82;
  border-bottom: 0;
}

.play-btn {
  position: absolute;
  width: 150px;
  height: 150px;
  z-index: 3;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: 0.3s;
}

.play-btn-big {
  background-image: url('./svg/video-play.svg');
  cursor: pointer;
}

.play-btn-back {
  background-image: url('./svg/video-back.svg');
}

.play-btn-forward {
  background-image: url('./svg/video-forward.svg');
}

.play-btn:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: calc(100% + 2px);
  height: 60px;
  padding: 0 20px;
  background-color: #000;
  border: 1px solid #bdae82;
  border-top: 0;
  gap: 10px;
}

.play__icon {
  width: 40px;
  height: 36px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.play__icon:hover,
.skip__button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%);
}

.play {
  background-image: url('./svg/play-video-controls.svg');
}

.range__slider {
  background: linear-gradient(to right, #bdae82 0%, #bdae82 0%, #c8c8c8 0%, #c8c8c8 100%);
  height: 10px;
  width: calc(70% - 160px);
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  cursor: pointer;
}

.skip__button {
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}

.play__icon {
  width: 30px;
  height: 36px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: 0.3s;
}

.volume-icon {
  background-image: url('./svg/video_volume.svg');
}

.volume {
  background: linear-gradient(to right, #bdae82 0%, #bdae82 40%, #c8c8c8 40%, #c8c8c8 100%);
}

.volume {
  width: calc(20% - 40px);
}

.progress {
  width: 50%;
}

/* price start */

.price__container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
  flex-wrap: wrap;
  gap: 25px;
}

.price__card {
  width: 450px;
  height: 505px;
  justify-content: space-between;
  border: 2px solid #BDAE82;
  margin-bottom: 100px;
}

.card__title {
  font-family: 'Merriweather';
  font-size: 28px;
  padding-top: 53px;
}

.card__price {
  font-family: 'Merriweather';
  font-size: 24px;
  line-height: 6px;
  color: #BDAE82;
  padding-top: 53px;
  padding-bottom: 41px;
}

.priority__description {
  display: block;
  font-family: 'Inter';
  font-size: 18px;
  line-height: 36px;
}

.btn-price {
  margin-top: 40px;
}

/* contacts start */

.contacts {
  background: url('./img/contacts.jpg');
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1440px;
  margin: 0 auto;
  height: 700px;
  display: flex;
  justify-content: flex-end;
  padding: 78px 20px 195px 0;
}

.contacts__form {
	max-width: 450px;
}

.contact__title {
  font-family: 'Merriweather';
  font-size: 40px;
  color: #BDAE82;
  padding-bottom: 58px;
}

.contact__input {
  border: 2px solid #BDAE82;
  height: 50px;
  width: 450px;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  outline: none;
}

.contact__textarea {
  margin-bottom: 25px;
	padding-top: 12px;
	height: 100px;
  width: 450px;
	background-color: rgba(0, 0, 0, .5);
	resize: none;
  border: 2px solid #BDAE82;
  outline: none;
}

.contact__input::placeholder,
.contact__textarea::placeholder {
  font-family: 'Inter';
  font-size: 20px;
  color: #BDAE82;
  padding-left: 16px;
}

/* footer start */

.footer {
  padding: 0 20px;
  margin: 0 auto;
  max-width: 1440px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0;
}

.github {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-family: 'Inter';
  font-size: 20px;
}

.rsschool {
  font-family: 'Inter';
  font-size: 20px;
}

.github__item,
.rsschool__link {
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.github__item.git:hover,
.rsschool__link:hover {
  color: #BDAE82;
  cursor: pointer;
}

.social {
  display: flex;
  gap: 20px;
  list-style: none;
}

.socials__link {
	width: 32px;
	height: 32px;
	display: block;
  transition: 0.3s;
}

.socials__link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
  contrast(87%);
}

.social__link-inst {
  background-image: url('./svg/inst.svg');
  height: 32px;
  width: 32px;
}

.social__link-fb {
  background-image: url('./svg/fb.svg');
  height: 32px;
  width: 32px;
}

.social__link-tw {
  background-image: url('./svg/tw.svg');
  height: 32px;
  width: 32px;
}

.social__link-pn {
  background-image: url('./svg/pinterest.svg');
  height: 32px;
  width: 32px;
}