* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

.body {
  background-image: url('./img/1.jpeg');
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  color: #fff;
  transition: 0.5s;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3%;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.moon {
  width: 150px;
  height: 150px;
  filter: invert(100%) sepia(99%) saturate(0%) hue-rotate(350deg) brightness(109%) contrast(101%);
  animation: spin 5s linear 0s infinite;
  animation-direction: alternate;
}
 
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(35deg);}
}

.clock {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.time {
  font-size: 40px;
  font-weight: 600;
}

.date, 
.month,
.year,
.today {
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 1);
  border-radius: 10px;
  width: 60%;
  background-color:rgba(100, 100, 100, 0.3);
  margin-top: 2%;
  animation: wave 3s linear infinite;
}

@keyframes wave {
  0%{box-shadow:1px 1px 50px 10px #eee;};
  20%{box-shadow:1px 1px 100px 20px #eee;};
  40%{box-shadow:1px 1px 100px 60px #eee;};
  60%{box-shadow:1px 1px 100px 100px #eee;};
  80%{box-shadow:1px 1px 100px 60px #eee;};
  100%{box-shadow:0px 0px 100px 40px #eee;};
}

.quote {
  transition: 0.5s;
}

.author {
  font-size: 20px;
  transition: 0.5s;
}

.container hr {
  margin: 20px 0 0 10px;
  width: 50%;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lang__item {
  font-size: 20px;
  transition: 0.3s;
  text-transform: uppercase;
}

.lang__slash {
  font-size: 20px;
  padding: 0 14px;
}

.lang__item:hover {
  color: #87CEEB;
  cursor: pointer;
}

.lang__active {
  color: #87CEEB;
  cursor: default;
  font-weight: 900;
}

.buttons__play {
  display: flex;
  align-items: center;
  gap: 10%;
}

.btn__prev,
.btn__play,
.btn__next {
cursor: pointer;
transition: 0.3s;
}

.btn__prev:hover,
.btn__play:hover,
.btn__next:hover {
  filter: invert(25%) sepia(40%) saturate(222%) hue-rotate(152deg) brightness(103%) contrast(94%);
}

.btn {		
	position: relative;
	font-size: 20px;
	padding: 15px;
	letter-spacing: 5px;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;
	user-select: none;
}

.btn:before, .btn:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.btn:hover {
	color: #133251;
	transition-delay: .5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: #fff;
	transition-delay: .35s;
}

/* From Left Btn*/

.from-left:before, 
.from-left:after {
	top: 0;
	width: 0;
	height: 100%;
}

.from-left:before {
	right: 0;
	border: 1px solid #fff;
	border-left: 0;
	border-right: 0;	
}

.from-left:after {
	left: 0;
}

.from-left:hover:before,
.from-left:hover:after {
	width: 100%;
}

/* footer start */

.footer-container {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 40px);
  margin: 0 auto;
  font-size: 20px;
  padding: 10px;
}

.footer-container__github {
  display: flex;
  align-items: center;
}

.copy {
  padding-right: 10px;
  font-size: 15px;
}

.github {
  text-decoration: none;
  color: #fff;
  padding: 0 20px;
  transition: 0.3s;
}

.github:hover {
  color: #87CEEB;
  cursor: pointer;
}

.footer-container__link {
  background-image: url('./svg/rss.svg');
  background-size: contain;
  background-repeat: no-repeat;
  width: 135px;
  height: 50px;
  transition: 0.3s;
}

.footer-container__link:hover {
  filter: invert(25%) sepia(40%) saturate(222%) hue-rotate(152deg) brightness(103%) contrast(94%);
  cursor: pointer; 
}

/* footer end */